:root {
  --white: hsl(0, 0%, 100%);
  --light: hsl(217, 12%, 63%);
  --medium: hsl(216, 12%, 54%);
  --dark: hsl(213, 19%, 18%);
  --veryDark: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

body {
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.app {
  background-color: var(--veryDark);
  margin: 0 auto;
  max-width: 600px;
  height: 550px;
  padding: 20px;
  /* text-align: center; */
  border-radius: 25px;
}

.star-circle {
  background-color: var(--dark);
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin: 25px
}

.star-icon {
  color: var(--orange);
  font-size: 40px;
  
}

.heading {
  color: var(--white);
  font-weight: 700;
  font-size: 30px;
  margin-left: 25px;
  margin-top: 50px;
}

.paragraph {
  color: var(--medium);
  font-weight: 400;
  margin: 25px;
  font-size: 25px;
  margin-bottom: 25px;
}

.rating-button {
  background-color: var(--dark);
  color: var(--medium);
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-left: 40px;
  border: none;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}

.rating-button:hover {
  background-color: var(--light);
  color: var(--white);
}

.submit-button {
  background-color: var(--orange);
  border-radius: 50px;
  height: 60px;
  width: 550px;
  margin-left: 25px;
  margin-top: 40px;
  border: none;
  color: var(--white);
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}

.submit-button:active {
  background-color: var(--white);
  color: var(--orange);
}

.rating-button-click {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-left: 40px;
  border: none;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}

.selection-message {
  border: 1px solid black;
  border-radius: 25px;
  width: 225px;
  padding: 10px;
  background-color: var(--dark);
  color: var(--orange);
  text-align: center;
  font-size: 20px;
 
  
 
}

.thank-you {
  color: var(--white);
  font-weight: 400;
  font-size: 25px;
  
}

.goodbye-message {
  color: var(--medium);
  font-weight: 400;
  font-size: 27px;
  text-align: center;
}

/* .img {
  margin-bottom: 20px;
 

} */

.thank-state {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}